<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Talleres Catemu</title>
</head>
<body>
    <h1>Gestión de Talleres Catemu</h1>
    <ul>
        <li><a href="/docentes">Docentes</a></li>
        <li><a href="/salas">Salas</a></li>
        <li><a href="/talleres">Talleres</a></li>
        <li><a href="/clases">Clases</a></li>
        <li><a href="/estudiantes">Estudiantes</a></li>
        <li><a href="/estudiantestaller">Estudiantes en Talleres</a></li>
        <li><a href="/asistencia_estudiante">Asistencia de Estudiantes</a></li>
    </ul>
</body>
</html>
